<div class='form-wrapper'>
  <form>
    <h4>{{errorMessage}}</h4>
    <div>
      <label>Content:</label>
      {{textarea rows='5' value=model.content}}
    </div>
    <div class='form-group'>
      <button {{action 'createChirp'}}>Submit</button>
    </div>
  </form>
</div>
<div>
  <div class='chirp-card'>
  <h4>Preview:</h4>
    <p class='chirp-content'>
      {{{model.content}}}
    </p>
  </div>
</div>
