<nav>
  <div class="nav-wrapper">
    <div class="nav-logo">
    {{#link-to 'chirps'}}Chirper{{/link-to}}
    </div>
  </div>
</nav>
<div>{{#link-to 'chirps.new'}}Chirp{{/link-to}}</div>
{{#if session.isAuthenticated}}
  <p>{{session.currentUser.username}}</p>
  <button {{action 'invalidateSession'}}>Logout</button>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}
{{outlet}}
