<div>
  {{user.username}}
  {{user.email}}
</div>
<div>
  {{#each user.chirps as |chirp|}}
  <div class="chirp-card">
    <p class="chirp-content">
      {{{chirp.content}}}
    </p>
    <div class="chirp-username">
      by:
      {{user.username}}
    </div>
  </div>
  {{/each}}
</div>